/* Global Styles */

body, h1, h2, h3, h4 {
  font-family: "Courier" !important;
}

.main {
  font-size: 1.2rem;
}

/* Header Image Spinning Lines */

.holder {
  margin-top: -4.5rem;
  margin-left: 1.5rem;
  width: 8.125rem;
  position: relative;
}
.holder .circle {
  border-radius: 100% 100% 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.holder .circle:nth-child(1) {
  border-bottom: none;
  border-radius: 25px 25px 0 0;
  width: 25px;
  height: 12.5px;
  z-index: 15;
  -webkit-animation: circle-1 10s infinite ease-in-out;
          animation: circle-1 10s infinite ease-in-out;
}
@-webkit-keyframes circle-1 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-360deg);
            transform: translateX(-50%) rotate(-360deg);
  }
}
@keyframes circle-1 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-360deg);
            transform: translateX(-50%) rotate(-360deg);
  }
}
.holder .circle:nth-child(2) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 40px 40px 0 0;
  width: 40px;
  height: 20px;
  z-index: 14;
  -webkit-animation: circle-2 10s infinite ease-in-out;
          animation: circle-2 10s infinite ease-in-out;
}
@-webkit-keyframes circle-2 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-720deg);
            transform: translateX(-50%) rotate(-720deg);
  }
}
@keyframes circle-2 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-720deg);
            transform: translateX(-50%) rotate(-720deg);
  }
}
.holder .circle:nth-child(3) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 62px 62px 0 0;
  width: 62px;
  height: 31px;
  z-index: 13;
  -webkit-animation: circle-3 10s infinite ease-in-out;
          animation: circle-3 10s infinite ease-in-out;
}
@-webkit-keyframes circle-3 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1080deg);
            transform: translateX(-50%) rotate(-1080deg);
  }
}
@keyframes circle-3 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1080deg);
            transform: translateX(-50%) rotate(-1080deg);
  }
}
.holder .circle:nth-child(4) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 93px 93px 0 0;
  width: 93px;
  height: 46.5px;
  z-index: 12;
  -webkit-animation: circle-4 10s infinite ease-in-out;
          animation: circle-4 10s infinite ease-in-out;
}
@-webkit-keyframes circle-4 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1440deg);
            transform: translateX(-50%) rotate(-1440deg);
  }
}
@keyframes circle-4 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1440deg);
            transform: translateX(-50%) rotate(-1440deg);
  }
}
.holder .circle:nth-child(5) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 124px 124px 0 0;
  width: 124px;
  height: 62px;
  z-index: 11;
  -webkit-animation: circle-5 10s infinite ease-in-out;
          animation: circle-5 10s infinite ease-in-out;
}
@-webkit-keyframes circle-5 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1800deg);
            transform: translateX(-50%) rotate(-1800deg);
  }
}
@keyframes circle-5 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-1800deg);
            transform: translateX(-50%) rotate(-1800deg);
  }
}
.holder .circle:nth-child(6) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 155px 155px 0 0;
  width: 155px;
  height: 77.5px;
  z-index: 10;
  -webkit-animation: circle-6 10s infinite ease-in-out;
          animation: circle-6 10s infinite ease-in-out;
}
@-webkit-keyframes circle-6 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-2160deg);
            transform: translateX(-50%) rotate(-2160deg);
  }
}
@keyframes circle-6 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-2160deg);
            transform: translateX(-50%) rotate(-2160deg);
  }
}
.holder .circle:nth-child(7) {
  border: 2.5px solid #404040;
  border-bottom: none;
  border-radius: 186px 186px 0 0;
  width: 186px;
  height: 93px;
  z-index: 9;
  -webkit-animation: circle-7 10s infinite ease-in-out;
          animation: circle-7 10s infinite ease-in-out;
}
@-webkit-keyframes circle-7 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-2520deg);
            transform: translateX(-50%) rotate(-2520deg);
  }
}
@keyframes circle-7 {
  0% {
    -webkit-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(-2520deg);
            transform: translateX(-50%) rotate(-2520deg);
  }
}

/* Header Visible Voice Logo Text */

#letters {
  text-align: left;
  font-size: 6rem;
  margin-top: 5.5rem;
  opacity: 0.7;
}

/* Navigation Menu */

.no-js .top-bar {
  display: none;
}

div.title-bar {
  margin-top: 2rem;
}

@media screen and (min-width: 40rem) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.dropdown-menu {
  font-family: "Courier";
  font-size: 1.2rem;
}

.nav-menu {
  text-align: right;
  margin-left: 16rem;
}

/* Nav Menu Hover to Show Destination */


.img__description {
  position: absolute;
  color: #2A8FBD;
  visibility: hidden;
  opacity: 0;
  margin-left: -5rem;
  margin-top: 3rem;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* Modals */

#modal-btn {
  margin-top: 1.25rem;
}

/* cards to display bands */

.artist {
  color: red;
  font-weight: bold;
}

div.card-divider {
  background: none !important;
}

.time {
  font-size: 0.5rem;
}

/* Read More Buttons  */

.btn-glass {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 0.1rem 0.2em;
  border: 0.07rem dotted transparent;
  border-radius: 5rem;
  letter-spacing: 0.98pt;
  text-transform: lowercase;
  -webkit-transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
  position: relative;
  background-attachment: fixed, scroll;
  background-size: 100vw 100vh, cover;
  background-position: center center, 0 0;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
}

.btn-glass:hover {
  background-position: -100vw 0, 0 0;
}

.btn-glass:active {
  background-position: -75vw 0, 0 0;
  border-style: solid;
}

.nav-dark {
  background-color: #808080;
}
.nav-dark .btn-glass {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(17, 17, 17, 0);
}

.nav-dark .btn-glass:hover {
  border-color: #000000;
  background-color: #111111;
}

.nav-dark .btn-glass:active {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
}

.nav-dark .btn-glass.btn-primary {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(42, 143, 189, 0);
}

.nav-dark .btn-glass.btn-primary:hover {
  border-color: #1c607e;
  background-color: #2A8FBD;
  border-radius: 5rem;
}

.nav-dark .btn-glass.btn-primary:active {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1em 0.5ex rgba(42, 143, 189, 0.5);
}

div.btn-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  height: 20%;
  border-radius: 5rem;
}


/*  Drums */

.st0 {
  /*fill:#FCF99A;*/
  fill: #C0C0C0;
  stroke:#000000;
  stroke-width:6;
  stroke-miterlimit:10;
}

.st1 {
  display:none;
  fill:none;
}

.st2 {
  /*fill:#9BF9F4;*/
  fill: #FFFFFF;
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st3 {
 /* fill:#FCF99A;*/
  fill: #000000;
  stroke:#000000;
  stroke-width:8;
  stroke-miterlimit:10;
}

.st4 {
  /*fill:#230B89;*/
  fill: #FF4500;
  stroke:#000000;
  stroke-width:3;
  stroke-miterlimit:10;
}

.st5 {
  fill:#C0C0C0;
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st6 {
  fill:#4D4D4D;
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st7 {
  /*fill:#FF17E9;*/
  fill: #CFB53B;
  stroke:#000000;
  stroke-width:2;
  stroke-miterlimit:10;
}

.st8 {
  /*fill:#9BF9F4;*/
  fill: #FFFFFF;  
  stroke:#000000;
  stroke-width:4;
  stroke-miterlimit:10;
}

.st9 {
  fill:#FFFFFF;
  stroke:#000000;
  stroke-width:4;
  stroke-miterlimit:10;
}

.st10 {
  fill:none;
}

.st11 {
  fill:#666666;
}

td {
  border: none !important;
}






